@charset "UTF-8";

body{
    background-color: black;
    color: rgb(212, 121, 152);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

h1{
    color: rgb(252, 249, 246);

}